.sharing-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .resp-sharing-button__icon,
  .resp-sharing-button__link {
    display: inline-block;
  }

  .resp-sharing-button__link {
    text-decoration: none;
    margin: 0.5em;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  .resp-sharing-button__icon svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
  }
}